/* Geral */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(133 73 167 / 15%)
}

/* Áreas dos pontos */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 2.6rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(185, 42, 130);
}

.life-bar .life.danger {
    background-color: red;
}

/* Área do Resultado */

.result {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.result .win {
    color: rgb(255, 0, 0);
}

.result .lose {
    color: green;
}

/* Área dos Botões (Controle do Jogo) */

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.new-game {
    background-color: #4253af;
    color: white;
}

.attack {
    background-color: #e51c23;
    color: #fff;
}

.especial-attack {
    background-color: #ff9800;
    color: #000;
}

.heal {
    background-color: #259b24;
    color: #fff;
}

.give-up {
    background-color: #BBB;
    color: #000;
}